@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply select-none
}
*{
  user-select:auto !important
}
/* vue 过渡动画样式 */
.sale-fade-enter-active,
.sale-fade-leave-active {
  transition: all 0.3s ease;
}

.sale-fade-enter {
  transform: scale(0.87);
  opacity  : 0;
}

.sale-fade-leave-to {
  transform: scale(1.08);
  opacity  : 0;
}

.el-input__inner {
  border: 1px solid #8794ae !important;
  border-radius: 8px !important;
}
.contentBox {
  height: 100% !important;
  //min-height: 37rem;
  // overflow: scroll;
  // height: 100%;
  // overflow-x: hidden;
}
#DialogContainer .el-dialog__wrapper{
 z-index: 3888 !important;
}

.closes [class^=el-icon-] {
  // margin-right  : 5px;
  width         : 24px;
  text-align    : center;
  // font-size     : 20px;
  vertical-align: baseline !important;
}

[class^=el-icon-] {
  // margin-right  : 5px;
  width         : 24px;
  text-align    : center;
  // font-size     : 20px;
  vertical-align: middle !important;
}
