.card{
  height: 40px;
  border-bottom: 1px solid #eee;
  display: flex;
    align-items: center;
 gap: 10px;
    padding: 0 10px;
    width: 100%;
}
.el-scrollbar__view{
  padding: 0 5px;
  display: flex;
  gap: 10px;
}
.scrollBar{
  white-space: nowrap;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.tags-view-container{
      width: 100%;
    display: grid;
    height: 40px;
    padding: 5px 0 0 0;
    background: #fff;
    border-bottom: 1px solid #d8dce5;
    -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%), 0 0 3px 0 rgb(0 0 0 / 4%);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%), 0 0 3px 0 rgb(0 0 0 / 4%);
}